#grids {
    display: flex;
    flex-wrap: wrap;
}

.selected {
    background-color: greenyellow;
}

.grid {
    height: 600px;
    width: 600px;
    display: grid;
    border: solid red;
    grid-template-rows: repeat( var(--gridSize, 10), 1fr);
    grid-template-columns: repeat( var(--gridSize, 10), 1fr);
}

.cell {
    border: solid;
}

.open {
    background-color: rgb(255, 255, 92);
}

.closed {
    background-color: rgb(161, 161, 161);
}

.end {
    background-color: rgb(220, 66, 0);
}

.shortestPath {
    background-color: rgb(0, 255, 234);
}

.wall {
    background-color: rgb(0, 0, 0);
}

.start {
    background-color: greenyellow;
}

.parentIndicator {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.parentIndicator.topLeft {
    transform: rotate(-180deg);
}

.parentIndicator.top {
    transform: rotate(-135deg);
}

.parentIndicator.topRight {
    transform: rotate(-90deg);
}

.parentIndicator.right {
    transform: rotate(-45deg);
}

.parentIndicator.bottomRight {
    transform: rotate(0deg);
}

.parentIndicator.bottom {
    transform: rotate(45deg);
}

.parentIndicator.bottomLeft {
    transform: rotate(90deg);
}

.parentIndicator.left {
    transform: rotate(135deg);
}

.currentCell {
    border-color: red;
}

.hidden {
    display: none;
}