#grid {
    height: 1000px;
    width: 1000px;
    display: grid;
    border: solid red;
}

.small-grid {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border: solid;
}

.start {
    background-color: greenyellow;
}

.end {
    background-color: rgb(220, 66, 0);
}

.wall {
    background-color: rgb(0, 0, 0);
}